* {
  margin: 0;
  padding: 0;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change, with-
 *    out disabling user zoom.
 */

html {
  font-family: sans-serif;                                               /* 1 */
  -ms-text-size-adjust: 100%;                                            /* 2 */
  -webkit-text-size-adjust: 100%;                                        /* 2 */
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * 1. Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;                                        /* 1. */
  text-decoration: none;
  padding-bottom: -1px;
  border-bottom: 1px solid white;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}